%h1.page-header
  Employees
  %small / View
.row
  .col-md-12
    .text-right
      = render 'shared/masters/show_actions'

    .row
      .col-md-6.text-center.pull-right
        .image-container
          = image_tag "/employees/#{@master.id}/photo/thumb"
      .col-md-6
        .row
          .col-md-12
            = display_field @master.code, label: 'Code'
        .row
          .col-md-12
            = display_field @master.name, label: 'Name'
        .row
          .col-md-12
            = display_field @master.designation, label: 'Designation'
        .row
          .col-md-12
        = display_field @master.department.name, label: 'Department'
    .row
      .col-md-6
        = display_field @master.manager_id, label: 'Manager'
      .col-md-6
        = display_field @master.join_date, label: 'Join Date'
    .row
      .col-md-6
        = display_field @master.status, label: 'Status'

    %hr
    %h4.form-section Address
    = render 'shared/addresses/show', address: @master.address

    %hr
    .row
      .col-md-12
        = display_field @master.notes, label: 'Notes'
